/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/Innowise.Clinic.Documents.Api.AssemblyInfo.cs
/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/Innowise.Clinic.Documents.Api.AssemblyInfoInputs.cache
/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/Innowise.Clinic.Documents.Api.assets.cache
/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/Innowise.Clinic.Documents.Api.csproj.AssemblyReference.cache
/Innowise.Clinic.Documents.Api/obj/Innowise.Clinic.Documents.Api.csproj.nuget.dgspec.json
/Innowise.Clinic.Documents.Api/obj/Innowise.Clinic.Documents.Api.csproj.nuget.g.props
/Innowise.Clinic.Documents.Api/obj/Innowise.Clinic.Documents.Api.csproj.nuget.g.targets
/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/Innowise.Clinic.Documents.Api.GeneratedMSBuildEditorConfig.editorconfig
/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/Innowise.Clinic.Documents.Api.GlobalUsings.g.cs
/Innowise.Clinic.Documents.Api/obj/project.assets.json
/Innowise.Clinic.Documents.Api/obj/project.nuget.cache
/Innowise.Clinic.Documents.Api/obj/project.packagespec.json
/Innowise.Clinic.Documents.Api/obj/rider.project.restore.info
/Innowise.Clinic.Documents.Api/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
